@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
primary color (blue): #24baff
nav color (dark blue): #15202b
backgrond color (black): #101014
text color 1 (white): #fff
text color 2 (gray): #bebec2
*/
body {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    top: 0;
    position: sticky;
    background-color: #15202b;
    z-index: 99;
}

.navContainer {
    max-width: 1400px;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textLogo a {

    font-size: 1.75rem;
    font-weight: 600;
    color: #24baff;
    transition: 0.3s;
}

.textLogo a:hover {
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #24baff;
    transition: 0.3s;
}

.checkbox,
nav input {
    display: none;
}

.checkbox i {
    font-size: 2rem;
    color: #24baff;
    cursor: pointer;
    transition: 0.3s;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: 0.3s;
    color: #bebec2;
}

.navLinks a {
    color: #bebec2;
    border: 2px solid #bebec2;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

.navLinks a:hover {
    color: #15202b;
    border: 2px solid #bebec2;
    background-color: #bebec2;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    transition: 0.3s;
}

#contact {
    border-color: #24baff;
}

#contact:hover {
    border-color: #bebec2;
}

main {
    margin: auto;
    background: linear-gradient(180deg, #15202b 0%, #15202b 35%, #101014 100%);
    text-align: center;
    height: 100%;
    min-height: calc(100vh - 86px);
    padding: 2rem;
}

main h1, main p{
    padding-bottom: 20px;
    color: #bebec2;
}

h1{
    font-size: 2rem;
    font-weight: 800;
}

main p{
    font-size: 1.2rem;
}

.sectionContainer{
    max-width: 900px;
    margin: auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    padding: 2rem;
}



.formContent{
    background-color: #bebec2;
    padding: 2rem 4rem;
    width: 80vw;
    border-radius: 2rem;
}

.input-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 40%;
    margin-top: 20px;
}

.input-group label{

    padding-top: 10px;
}

input{
    text-align: left;
    width: 100%;
    border: none;
    border-bottom: 2px solid #101014;
    outline: none;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
}

.area-container{
    margin-bottom: 4rem;
    width: 100%;
    padding-top: 1rem;
}

textarea{
    margin-top: 1rem;
    border: 2px solid #101014;
    background-color: transparent;
    width: 100%;
    height: 150px;
    outline: none;
    resize: none;
}

button{
    color: #bebec2;
    background-color: #15202b;
    width: 200px;
    border: 2px solid #bebec2;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
}

@media screen and (width < 750px) {
    .checkbox {
        display: block;
    }

    .checkbox i:hover {
        color: #15202b;
        background-color: #bebec2;
        padding: 0.25rem;
        border-radius: 0.5rem;
        transition: 0.3s;

    }

    .navLinks {
        position: absolute;
        width: 100%;
        height: 50vh;
        border-radius: 0px 0px 3rem 3rem;
        left: -100%;
        top: 85px;
        background-color: #15202b;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 5rem;
        transition: 0.5s;

    }

    .navLinks a {
        padding: 2rem 30vw;
        border-color: transparent;
        transition: 0.3s;
    }

    .navLinks a:hover {
        color: #15202b;
        border: 2px solid #bebec2;
        background-color: #bebec2;
        padding: 2rem 20vw;
        border-radius: 1.5rem;
        transition: 0.3s;
    }

    #contact {
        border-color: transparent;
    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li a {
        font-size: 1.5rem;
    }

    main{
        height: 100%;
        padding: 0.5rem;
    }

    .sectionContainer{
        height: 100%;
        padding: 0;
    }

    .formContent{
        padding: 2rem;
        width: 100vw;
    }

    .input-row{
        flex-direction: column;
    }

    .input-group{
        width: 100%;
    }
}